.video-container {
  max-height: 642px;
  overflow: hidden;
}
.counter {
  bottom: 30px;
  left: 20px;
  z-index: 100;
}
.form_cross_icon{
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
}
.active_user_cross {
  top: 5px;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}

.modal-content {
  box-shadow: 0px 4px 50.8px 0px #00000040 !important;
  outline: 1px solid #0000001a !important;
  outline-offset: -1px;
}
.modal-dialog {
  max-width: 532px !important;
}
.live_position {
  top: 25px;
  right: 35px;
}
/* SUCCESS STORY  */
.success_story_paragraph {
  max-width: 796px;
}
.story_video {
  border: 1.52px solid #4c697b3d;
  border-radius: 9px;
  aspect-ratio: 16/9;
}
.story_video_parent {
  margin-left: -12px;
  margin-right: -12px;
  row-gap: 24px;
  padding-bottom: 75px;
}
.story_play {
  width: 27.3px;
  height: 27.3px;
}
.story_play img {
  width: 10px;
}
.story_play:hover img {
  transform: scale(1.2);
}

.slider_container {
  max-width: 2500px;
  margin-left: auto;
  margin-right: auto;
}
#soundIcon1,
#soundIcon2,
#soundIcon3,
#soundIcon5,
#soundIcon6,
#soundIcon7 {
  width: 30px;
}
.unmute_btn {
  border: 1px solid white;
}
.unmute_btn:hover {
  scale: 0.9;
}

.video-container:hover .hero_video_btn {
  opacity: 100%;
}
.hero_video_btn {
  opacity: 0;
}

@media (max-width: 767.9px) {
  .live_position {
    top: 10px;
    right: 10px;
  }
  .live_position img {
    max-width: 60px;
    object-fit: cover;
  }
  .story_video_parent {
    padding-bottom: 48px;
  }
  .video-container {
    border-radius: 24px;
  }
  .counter {
    bottom: 20px;
  }
}
@media (max-width: 575.9px) {
  .video-container {
    border-radius: 18px;
  }
  .story_video_parent {
    padding-bottom: 48px;
  }
  .tick_space {
    margin-top: 2px;
  }
  #soundIcon1,
#soundIcon2,
#soundIcon3,
#soundIcon5,
#soundIcon6,
#soundIcon7 {
  width: 20px;
}
}
@media (max-width: 1200px) and (min-width: 992px) {
  .tick_space {
    margin-top: 4px;
  }
}
